$pink: #f28be8;
$salmon: #f8b1b7;
$lightsalmon: #fdced2;
$verylightsalmon: #ffe0e2;
$white: #f4efe4;
$yellow: #f6ed9e;
$blue: #2098d8;
$lightwhite: #e9e0cc;
$darkblue: #0a344b;
$black: rgb(15, 15, 15)